/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-weight: 400;
  line-height: 1.54545;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  color: #1d1d1d;
}

.container {
  margin: 0 auto;
  padding: 0 87px 0 81px;
}

.header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  color: #fff;
  -webkit-box-shadow: 0 0 16px 0 rgba(38, 38, 38, 0.16);
          box-shadow: 0 0 16px 0 rgba(38, 38, 38, 0.16);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

.header__logo-link {
  font-size: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
}

.button-login {
  padding: 14px 20px;
  color: #1d1d1d;
  font-size: 13px;
  line-height: 1.84615;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.header__cart-link {
  font-size: 0;
}

.search__link {
  margin-top: 128px;
  color: #626262;
  border-bottom: #757575 solid 1px;
  width: 100%;
}

.stores {
  padding-top: 56px;
}

.stores__title {
  font-size: 22px;
  color: #1d1d1d;
}

.stores__list {
  margin-top: 16px;
  display: -ms-grid;
  display: grid;
  gap: 16px;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.stores__list .stores__item {
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #1d1c1d;
}
.stores__list .stores__item .store {
  gap: 4px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.stores__list .stores__item .store .store_image {
  width: 100%;
  font-size: 0;
  margin-bottom: 12px;
}
.stores__list .stores__item .store .store__description {
  font-size: 14px;
  color: #626262;
}
.stores__list .stores__item .store .store__time {
  font-size: 13px;
  margin-bottom: 16px;
}

.footer {
  background-color: #262626;
  margin-top: 77px;
}
.footer .footer__logo-link {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: #fff solid 1px;
}
.footer .footer__logo-link .footer__logo {
  padding: 59px 0 40px;
}
.footer .footer__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding: 39px 0 48px;
  border-bottom: #fff solid 1px;
}
.footer .footer__nav .choice__languages {
  border-radius: 2px;
  background-color: #3b3b3b;
  color: #fff;
  font-size: 13px;
  padding: 12px;
  width: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__nav .choice__languages .choice__language {
  background-color: #3b3b3b;
}
.footer .footer__nav .footer__contacts {
  margin-top: 33px;
}
.footer .footer__nav .footer__contacts .footter__log {
  font-size: 0;
}
.footer .footer__nav .footer__contacts .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px 12px;
}
.footer .footer__nav .footer__contacts .footer__social-item {
  font-size: 0;
}
.footer .footer__nav .footer__menu {
  display: -ms-grid;
  display: grid;
  gap: 23px 128px;
}
.footer .footer__nav .footer__menu .footer__menu-item {
  font-size: 0;
}
.footer .footer__nav .footer__menu .footer__menu-link {
  font-size: 13px;
  color: #fff;
}
.footer .dowload {
  padding: 41px 0 39px;
  border-bottom: #fff solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__docs {
  padding: 41px 0 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
}
.footer .footer__doc {
  font-size: 11px;
  color: #fff;
}
.footer .footer__button-top {
  position: absolute;
  right: 0;
  padding: 110px 16px 0;
}

@media (max-width: 960px) {
  .container {
    padding: 0 8px;
  }
  .stores__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    margin-top: 48px;
  }
  .footer .footer__logo-link .footer__logo {
    padding: 56px 0 40px;
  }
  .footer .footer__nav .choice__languages {
    width: 176px;
  }
  .footer .footer__nav .footer__menu {
    gap: 23px 60px;
  }
  .footer .footer__docs {
    gap: 80px;
  }
}
@media (max-width: 750px) {
  .footer .footer__docs {
    gap: 20px;
  }
}
@media (max-width: 520px) {
  .header__cart-link {
    font-size: 0;
    display: none;
  }
  .stores__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .footer .footer__nav {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 32px 0 40px;
  }
  .footer .footer__nav .choice__languages {
    width: 173px;
  }
  .footer .footer__nav .footer__menu {
    margin-top: 39px;
  }
  .footer .dowload {
    padding: 24px 0;
    gap: 25px;
  }
  .footer .footer__docs {
    padding: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 24px;
  }
  .footer .footer__button-top {
    padding: 165px 16px 0;
  }
}